.transactionHistory {
    background-color: white;
    box-shadow: 5px 10px 8px -8px rgba(0,0,0,0.45);
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-block: 20px;
    margin-block: 10px;
}
table {
    width: 100%;
}

tr {
    color: black;
    text-align: center;
    margin-block: 20px;
    border: solid 1px rgb(205, 205, 205);
}
th {
    border-bottom: solid 1px rgb(205, 205, 205);
    border-right: solid 1px rgb(205, 205, 205);
    text-align: center;
    color: black;
    padding: 20px;
}
td {
    border-bottom: solid 1px rgb(205, 205, 205);
    border-right: solid 1px rgb(205, 205, 205);
    color: black;
    padding: 20px
}